<!DOCTYPE html>
<html lang="en">
<head>
  <title>Endangered Species Database</title>
    <style type="text/css">
   body { background: green !important; }
</style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Endangered Species Database</h1>
  <p>Interested about endangered species and how you can help? Learn more here!</p>
</div>
<center>
   <div id="text-align: center">
  <a class="btn btn-large btn-info" href="/search">Click here to learn more</a>
</div>
</center>
</body>
</html>
