<!DOCTYPE html>
<html lang="en">
<head>
  <title>Endangered Species Database: Insert New Entries</title>
    <style type="text/css">
   body { background: green !important; }
   .options { color: #000000;}
   .searchClass {margin: 1%;}
   .searchClass .btn-default {background-color: #9C3; border-color: #033;}
</style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--<script type="text/javascript" src="searchJS.js"></script>!-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div class="jumbotron text-center">

  <!--ease of use navigation links-->
    <nav class="navbar navbar-light" style="background-color: #FFF;">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                 <a class="navbar-brand" href="/">Search</a>
                 <a class="navbar-brand" href="/insert">Insert<span class="sr-only"></span></a>
                                 <a class="navbar-brand" href="/update">Update<span class="sr-only"></span></a>
        </div>
    </nav>
<!--end ease of use navigation links-->

  <h1>Endangered Species Database</h1>
  <p>Interested about endangered species and how you can help? Learn more here!</p>

</div>

<div class = "searchClass"><br>
<h3 style = "color:#FFF">Modify entries in the database:</h3>

<!--change species-->
<form name='updateSpeciesForm' action="/updateResult" method='POST'>
<h4 style = "color:#FFFFFF">Modify a species' status:</h4>

<div class = "form-group" style = "color:#FFF">
<label for="speciesTaxon">What is the species' taxon?</label>
<input id = "speciesTaxon" class = "form-control" name = "speciesTaxon">
</div>

<div class = "form-group" style = "color:#FFF">
<label for="newStatus">What is the new endangered status?</label>
<select id = "newStatus" class = "form-control" name = "newStatus">
    <option value="Least Concern">Least Concern
    </option>
        <option value="Near Threatened">
    Near Threatened
    </option>
    <option value="Vulnerable">
    Vulnerable
    </option>
    <option value="Endangered">Endangered
    </option>
        <option value="Critically Endangered">Critically Endangered
    </option>
</select>
</div>

<input name="modifySpecies" type="submit" value="Modify species &gt;" class="btn btn-default">

</form>
<br/>
<br/>
<!--end species-->


</div>

</body>
</html>
