<!DOCTYPE html>
<html lang="en">
<head>
  <title>Endangered Species Database</title>
  <style type="text/css">
   body { background: green !important; }
   .options { color: #000000;}
   .searchClass {margin: 1%;}
   .searchClass .btn-default {background-color: #9C3; border-color: #033;}
 </style>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <!--<script type="text/javascript" src="searchJS.js"></script>!-->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

  <div class="jumbotron text-center">

    <!--ease of use navigation links-->
    <nav class="navbar navbar-light" style="background-color: #FFF;">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                 <a class="navbar-brand" href="/">Search</a>
                 <a class="navbar-brand" href="/insert">Insert<span class="sr-only"></span></a>
                                 <a class="navbar-brand" href="/update">Update<span class="sr-only"></span></a>
        </div>
    </nav>
<!--end ease of use navigation links-->

   <h1>Endangered Species Database</h1>
   <p>Interested about endangered species and how you can help? Learn more here!</p>
 </div>
 <div class = "searchClass"><br>
  <h3 style = "color:#FFF">Search the database below:</h3>

  <!--search by common name-->
  <form name = "SearchByCommonName" action = "/result" method = 'GET'>
    <div class = "form-group" style = "color:#FFF" id = "commonNameForm">
      <label for="commonName">
        Find an animal using its common name: </label>
        <input id = "commonName" name = "commonName" class = "form-control">
      </div>

      <div class = "checkbox" style = "color:#FFF">
        <label class = "checkbox_inline"><input type = "checkbox" id = "speciesInfo" name = "speciesInfo" checked>Get species info</label>
        <label class = "checkbox_inline"><input type = "checkbox" id = "relatedReading" name = "relatedReading">Get related reading</label>
        <label class = "checkbox_inline"><input type = "checkbox" id = "conservationInfo" name = "conservationInfo">Get conservation info</label>
        <label class = "checkbox_inline"><input type = "checkbox" id = "habitatInfo" name = "habitatInfo">Get habitat information</label>
        <label class = "checkbox_inline"><input type = "checkbox" id = "habitatThreats" name = "habitatThreats">Include habitat threats</label>
      </div>

      <input name="SearchByCommonName" type="submit" class="btn btn-default">
    </form>
    <br/>
    <br/>
    <!--end search by common name-->

    <!--search by species name-->
    <form name = 'searchBySpeciesName' action = "/result" method = 'GET'>
      <div class = "form-group"style = "color:#FFF">
        <label for="speciesName">
          Find an animal using its species name: </label>
          <input id = "speciesName" name = "speciesName" class = "form-control">

          <div class = "checkbox" style = "color:#FFF">
            <label class = "checkbox_inline"><input type = "checkbox" id = "speciesInfo" name = "speciesInfo"checked>Get species info</label>
            <label class = "checkbox_inline"><input type = "checkbox" id = "relatedReading" name = "relatedReading">Get related reading</label>
            <label class = "checkbox_inline"><input type = "checkbox" id = "conservationInfo" name = "conservationInfo">Get conservation info</label>
            <label class = "checkbox_inline"><input type = "checkbox" id = "habitatInfo" name = "habitatInfo">Get habitat information</label>
            <label class = "checkbox_inline"><input type = "checkbox" id = "habitatThreats" name = "habitatThreats">Include habitat threats</label>
          </div>

        </div>
        <input name="SearchBySpeciesName" type="submit" value="Search by species name &gt;" class="btn btn-default">

      </form>
      <br/>
      <br/>
      <!--end search by species name-->

      <!-- Find species below average population for their status -->
      <form name='belowAveragePopulation' action = "/result" method = 'GET'>
        <div class = "form-group" style = "color:#FFF">
          <label for="belowAveragePopulation">
            Find species with below average population for endangered status: </label>
            <select id = "Status" class = "form-control" name = "status">
              <option value="Critically Endangered">Critically Endangered
              </option>
              <option value="Endangered">
                Endangered
              </option>
              <option value="Least Concern">
                Least Concern
              </option>
              <option value="Near Threatened">Near Threatened
              </option>
              <option value="Vulnerable">Vulnerable
              </option>
            </select>
          </div>

          <input name="belowAveragePopulation" 
          type="submit" class="btn btn-default">
        </form>
        <br/>
        <br/>
        <!--end search by habitat name-->

        <!--get species count-->
        <form name='speciesCount' action = "/result" method='GET'>
          <div class = "form-group" style = "color:#FFF">
            <label for="filter">
              Find biomes with a species count: </label>
              <select id = "filter" class = "form-control" name="filter">
                <option value="greaterThan" selected>
                  &gt;
                </option>
                <option value="lessThan">
                  &lt;
                </option>
                <option value="greaterThanOrEqual">
                  &ge;
                </option>
                <option value="lessThanOrEqual">
                  &le;
                </option>
                <option value="equalTo">
                  =
                </option>
              </select>
              <label for="criterion">
                This value: </label>
                <input type="number" id = "speciesNum" name="speciesNum" class = "form-control">
              </div>
              <input name="speciesCount" type="submit" class="btn btn-default">

            </form>
            <br/>
            <br/>
            <!--end species count-->
          </div>

        </body>
        </html>